.button {
    -fx-background-color: #3c7fb1, linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 2;
    -fx-padding: 3 30 3 30;
}

.button:hover {
    -fx-background-color: #3c7fb1, linear-gradient(#FDFEFF, #FDFEFF), linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 2;
    -fx-padding: 3 30 3 30;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* ================================================================================= Graph */
.bar-chart {
    -fx-alternative-row-visible: false;
    -fx-alternative-column-visible: false;
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible: false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-border-color: transparent;
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-tick-labels-visible: false;
}

.default-color0.chart-bar {
    -fx-bar-fill: #b60000;
}

.default-color1.chart-bar {
    -fx-bar-fill: #87CEEB;
}
